#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;  
}

body {
 background-color:rgb(35 59 30); 
}

#table{
  margin-left: 24%; 
}

#welcome1{
 margin-left: 17%;
 font: ;
 color: white;
}

#welcomeparagraph{
  margin-left: 17%;
  margin-right: 17%;
  font-size:large;
  
}

.text{
  color: white; 
}


#backimg{
 width: 50%;
 margin-left: 24%;
} 
