#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;  
}

body {
 background-color:rgb(70,135,54); 
}

#table{
  margin-left: 24%; 
}

#welcome1{
 margin-left: 17%;

 color: white;
}

#welcomeparagraph{
  margin-left: 17%;
  color: white; 
}
